[submodule "thirdparts/googletest"]
	path = thirdparts/googletest
	url = git@github.com:google/googletest.git
[submodule "thirdparts/csv-parser"]
	path = thirdparts/csv-parser
	url = git@github.com:vincentlaucsb/csv-parser.git
[submodule "thirdparts/sql-parser"]
	path = thirdparts/sql-parser
	url = git@github.com:hyrise/sql-parser.git
